body {
    background-color: black; 
    color: #00ff00; 
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 8px #00ff00;
}

a {
    text-decoration: none;
    color: #00ff00;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    box-shadow: 0 0 10px #00ff00;
    margin-bottom: 10px;
}

.instructions {
    background: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px;
    font-size: 20px;
    line-height: 1.8;
    width: 80%;
    font-family: "Share Tech Mono", monospace;
}

.submit-button {
    margin-top: 30px;
    margin-bottom: 15px;
    background: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 5px #00ff00;
    font-family: "Share Tech Mono", monospace;
    font-weight: 900;
    font-style: normal;
}

.submit-button:hover {
    background: #00ff00;
    color: black;
    transition: 0.3s;
}

.hint {
    font-size: 12px;
    margin-top: 10px; 
    color: #00ff00;
    opacity: 0.6;
 }

.lovesong {
    background: black;
    color: #ffff00;
    padding: 20px;
    border-left: 3px solid #00ff00;
    box-shadow: 0 0 10px #00ff00;
    font-size: 20px;
    line-height: 1.8;
    font-family: "Share Tech Mono", monospace;
}

footer {
    text-align: center;
    font-size: 13px;
    color: #00ff00;
    margin-top: 20px;
}

footer a {
    color: #ffff00;  
}

footer a:hover {
    color: #00bfff; 
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        rgba(0, 255, 0, 0.1) 0px,
        transparent 2px,
        rgba(0, 255, 0, 0.1) 4px
    );
    pointer-events: none;
}


@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.9; }
    100% { opacity: 1; }
}

body {
    animation: flicker 0.1s infinite alternate;
}
